/* GOOGLE FONTS ADDED */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-family: "Lobster", cursive;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  display: block;
}
:root {
  --clr-primary-1: #fae5e5;
  --clr-primary-2: #fdc9c6;
  --clr-primary-3: #fca6a1;
  --clr-primary-4: #fa7971;
  --clr-primary-5: #f8554b;
  --clr-primary-6: #ba3932;
  --clr-primary-7: #882a24;
  --clr-primary-8: #4a1714;
  --clr-primary-9: #190807;
  --transition-linear: all 0.3s linear;
  --transition-ease: all 0.3s ease-in-out;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  /* margin-bottom: 1.25rem; */
  color: black;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* HERO */
.hero {
  /* min-height: 100vh; */
  background-color: white;
}
.hero-center {
  max-width: 1170px;
  width: 85vw;
  margin: 0 auto;
  padding: 1.5rem 0 5rem 0;
}
.main-title {
  text-align: center;
  text-transform: capitalize;
  color: black;
  letter-spacing: 2px;
  font-size: 2.5rem;
}
.underline {
  width: 12rem;
  height: 5px;
  margin: 0 auto 2rem auto;
  background-color: black;
  border-radius: 10px;
}
.main-text {
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
}
.main-img-container {
  margin: 2rem auto 0 auto;
  border-radius: 10px;
  max-width: 42rem;
}
.main-img {
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  /* object-fit: contain; */
}
@media screen and (min-width: 992px) {
  .main-img-container {
    max-width: 47rem;
  }
}
/* END OF HERO */
/* ITEMS */
.items {
  padding: 5rem 0;
  background-color: #f1f5f8;
}
.items-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.7rem;
}
.items-info-center {
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto 0 auto;
}
.items-underline {
  width: 12rem;
  height: 5px;
  margin: 0 auto 2rem auto;
  background-color: black;
  border-radius: 10px;
}
.items-text {
  text-align: center;
  font-size: 1.2rem;
}
.items-center {
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto;
}
.stars {
  /* border: 3px solid black; */
  /* border: 3px solid black; */
  display: inline-block;
  /* column-gap: 1rem; */
  margin-bottom: 5rem;
}
.star {
  /* border: 3px solid red; */
  display: inline-block;
  font-size: 3rem;
  color: #f9d71c;
  /* color: var(--clr-primary-5); */
  transition: var(--transition-ease);
  cursor: pointer;
}
.stars:hover .star {
  transform: translateX(10px);
  color: orange;
}
.stars:hover .stars-underline {
  width: 25rem;
  transform: translateX(20px);
  color: black;
}
.stars-underline {
  width: 12rem;
  height: 5px;
  background-color: black;
  border-radius: 10px;
}
.stars-underline-2 {
  width: 12rem;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  margin: 0.5rem 0 0.5rem 0;
}
.img-item-container {
  height: 22rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}
.img-item {
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: var(--transition-ease);
}
.item {
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 3rem;
  cursor: pointer;
  /* border: 3px solid black; */
  transition: var(--transition-linear);
}
.item:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.9);
}
.item-info {
  background: orange;
  color: white;
  transition: var(--transition-ease);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  transition: var(--transition-ease);
}
.item-title {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: bolder;
  margin-left: 0.1rem;
}
.item-continue {
  text-transform: capitalize;
  font-weight: bolder;
}

.item:hover .img-item {
  transform: scale(1.05);
}
.item:hover .item-info {
  background: rgb(255, 63, 29);
}
.stars-title {
  max-width: 1170px;
  width: 90vw;
  margin: 3rem auto 0 auto;
}
.star-title {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero {
    /* padding: 1rem 0; */
  }
  .main-title {
    font-size: 3rem;
  }
  .star-title {
    font-size: 2rem;
  }
  .item {
    margin-bottom: 0;
  }
  .stars {
    margin-bottom: 1rem;
  }
  .five-stars,
  .four-stars,
  .three-stars,
  .two-stars,
  .one-stars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 2rem;
  }
  .star-title {
    margin-top: 9rem;
  }
  .stars {
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .five-stars,
  .four-stars,
  .three-stars,
  .two-stars,
  .one-stars {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* END OF ITEMS */
/* NAVBAR */
.footer {
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 2.5rem 0;
}
.footer-center {
  max-width: 1170px;
  width: 90vw;
  margin: 0 auto;
}
.footer-info {
  text-align: center;
}
.footer-links {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  column-gap: 2rem;
}
.footer-link {
  font-size: 1.5rem;
  color: white;
  transition: var(--transition-linear);
  display: inline-block;
}
.footer-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 800;
}
.mail {
  background-color: white;
  color: black;
  font-weight: 800;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  font-size: 1.5rem;
  display: inline-block;
  margin-bottom: 1rem;
  transition: var(--transition-linear);
}
.mail:hover {
  background-color: orange;
}
.footer-link:hover {
  color: orange;
  transform: scale(1.2);
}
.social-media-title {
  font-size: 2rem;
  margin-top: 1.5rem;
  text-align: center;
}
@media screen and (min-width: 668px) {
  .footer-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .social-media-title {
    margin-top: 0rem;
    text-align: center;
  }
  .footer-links {
    margin-top: 1.2rem;
  }
}
/* END OF NAVBAR */
/* BACKGROUND */
.deneme {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 2;
  background-color: black;
}
/* END OF BACKGROUND */
.descriptions {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 3;
}
.descriptions-center {
  background-color: #f1f5f8;
  border-radius: 10px;
}
.close-btn-side {
  text-align: right;
  font-size: 2rem;
  /* padding: 0.5rem; */
}
.fa-solid {
  /* margin-right: 1rem; */
  transition: var(--transition-ease);
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  /* padding: 0.1rem 0.4rem; */
}
.fa-xmark:hover {
  color: white;
  background-color: red;
}
.fa-solid:hover {
  /* transform: scale(1.1); */
  /* background-color: red; */
  /* color: white; */
}
.card {
  border: 3px solid black;
  max-width: 650px;
  width: 90vw;
  height: 80vh;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  overflow-y: scroll;
  border-radius: 10px;
  transition: var(--transition-ease);

  /* margin: 0 auto; */
}
.card-info-img-container {
  height: 20rem;
  border-radius: 15px;
}
.card-title {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
.card-info-img {
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
}
.card-info {
  padding: 1rem 0rem;
}
.card-info-text {
  text-indent: 2rem;
}
@media screen and (min-width: 678px) {
  .card {
    height: 90vh;
  }
  .card-info {
    padding: 1rem 0;
  }
}
@media screen and (min-width: 576px) {
  .card-info-img-container {
    height: 15rem;
  }
}
/* #card-1 {
  display: block;
} */

/* display: block; */
.hidden {
  display: none;
  transition: var(--transition-ease);
}
